.pixel {
  width: 11px;
  height: 11px;
  box-sizing: border-box;
}
.pixelWithGrid {
  width: 11px;
  height: 11px;
  box-sizing: border-box;
}
.incompleteMask {
  position: absolute;
  left: 0; top: 0; right: 0; bottom: 0;
  background: repeating-linear-gradient(
    135deg,
    #fff 0px,
    #fff 6px,
    #eee 6px,
    #eee 12px
  );
  opacity: 0.7;
  pointer-events: none;
}
.pixelGrid {
  max-width: 264px;
  max-height: 264px;
  display: grid;
  grid-template-columns: repeat(24, 1fr);
  grid-template-rows: repeat(24, 1fr);
  margin: 0 auto;
}
.pixelDefault {
  flex-shrink: 0;
  border: 0.5px solid var(--Brand-Outline, #DBE2D0);
  background: var(--Brand-Off-White, #FCFCF8);
} 