.navMenuRoot {
  display: flex;
  width: 375px;
  padding: 0px 16px 0px 8px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--neutral-black-10, rgba(0, 0, 0, 0.10));
  background: var(--Brand-Background, #EEF0EB);
}

.tabWrap {
  display: flex;
  flex-direction: row;
}

.tabItem {
  display: flex;
  width: 72px;
  height: 64px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: var(--Brand-Background, #EEF0EB);
  color: var(--Neutral-Black, #000);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: -0.32px;
  border: none;
  cursor: pointer;
}

.tabSelected {
  box-shadow: 0px -4px 0px 0px #000 inset;
}

.authWrap {
  display: flex;
  align-items: center;
}

.loginBtn {
  display: flex;
  padding: 10px 18px 10px 16px;
  justify-content: center;
  align-items: center;
  color: var(--Neutral-Black, #000);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -0.32px;
  background: transparent;
  border: none;
  cursor: pointer;
}

.avatarBtn {
  width: 44px;
  height: 44px;
  flex-shrink: 0;
  aspect-ratio: 1/1;
  border-radius: 999px;
  background: var(--Neutral-Black, #000);
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatarText {
  color: var(--Brand-Background, #EEF0EB);
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: -0.32px;
} 