.footerContainer {
  margin-top: 24px;
}

.vector {
  height: 0;
  flex-shrink: 0;
  stroke-width: 1px;
  stroke: #CDD3C4;
  border-top: 1px solid #CDD3C4;
  margin: 0 20px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 16px;
}

.footerLeft {
  color: rgba(34, 34, 27, 0.60);
}

.footerCenter {
  color: rgba(34, 34, 27, 0.60);
  text-align: center;
}

.footerRight {
  color: #22221B;
  text-align: right;
}
