.inputFieldRoot {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 7px;
  align-self: stretch;
}
.inputLabel {
  align-self: stretch;
  color: var(--Neutral-Primary-Text, #22221B);
}
.inputFieldBox {
  display: flex;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-radius: 8px;
  border: 1px solid var(--Brand-Outline, #DBE2D0);
  background: var(--Brand-Off-White, #FCFCF8);
  padding: 0 16px;
  box-sizing: border-box;
  width: 100%;
  transition: border-color 0.2s ease;
  height: 48px;
}

.inputFieldBoxError {
  border-color: var(--Alert-Error, #E16A60);
}
.inputFieldInput {
  border: none;
  outline: none;
  background: transparent;
  color: var(--Neutral-Primary-Text, #22221B);
  width: 100%;
  flex: 1 0 0;
  padding: 0;
  margin: 0;
  font-size: 16px;
}
.errorWrapper {
  display: flex;
  align-items: center;
  gap: 4px;
  align-self: stretch;
  min-height: 20px;
}
.errorIcon {
  width: 20px;
  height: 20px;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.errorText {
  flex: 1 0 0;
  color: var(--Alert-Error, #E16A60);
} 